div, ul, li {
	padding: 20px;
}
div {
	border: 1px solid red;
}
ul {
	border: 1px solid orange;
}
li {
	border: 1px solid green;
}
p {
	width: 200px;
	height: 200px;
	border: 1px solid green;
}